.hero {
  position: relative;
  padding-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 106px;
  z-index: -1;
  width: 100%;
  height: 48px;
  background: url("../images/decor-icon.svg") repeat-x;
}

.hero>.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.hero-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 492px;
}

.hero-info p.text {
    margin-bottom: 140px;
}

.hero-choose {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 161px;
  padding: 22px;
  background: rgb(255 255 255 / 0.9);
  border: 1px solid #535755;
  text-align: center;
}

.hero-images {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero h1 {
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.hero h1 strong {
  font-weight: 600;
  color: #3596ed;
}


.article-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 28px;
}

.article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 284px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  background-color: #fff;
  border: 1px solid #d3cbd9;
  border-radius: 3%;
  overflow: hidden;
  gap: 12px;
}

.article-card-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}

.article-card-info>.date {
  display: inline-block;
  margin-bottom: 8px;
}

.article-card-footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.article-card-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.article-card-link:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.article-card-link::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 9px;
  background-image: url("../images/arrow-right-icon.svg");
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.article-card-link:hover::after {
  -webkit-animation: rotate 0.8s ;
          animation: rotate 0.8s ;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
} 

.faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

@media (width <= 1250px ){

  .title-large {
    text-align: center;
  }

  .hero {
    padding-top: 60px;
  }

  .hero-container {
    gap: 0;
  }

  .hero-images img{
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .hero-choose {
    max-width: 140px;
    padding: 20px 10px;
  }

  .hero-info {
    max-width: 50%;
  }

  .hero-info h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 56px;
  }

  .hero-info>.text {
    max-width: 450px;
  }

  .article-menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .article-card {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 350px;
  }

  .article-card img {
    width: 100%;
  }
}

@media (width <= 992px) {
  .hero {
    padding-top: 40px;
  }

  .hero::after {
    z-index: -1;
    left: 250px;
    bottom: 700px;
    height: 100px;
    width: 800px;
    background: url("../images/decor-icon.svg") no-repeat center center/cover;
    rotate: 90deg;
  }

  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .hero-info>p.text {
    margin-bottom: 40px;
  }

  .hero-images img{
    -o-object-fit: cover;
       object-fit: cover;
  }

    .article-menu-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
  }

  .article-card {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 350px;
  }

  .article-card img {
    width: 100%;
  }

  .faq-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media (width <= 768px) {
  .hero {
    padding-top: 30px;
  }

  .hero::after {
    display: none;
  }
  
  .hero-info {
    max-width: 60%;
    margin: auto;
    text-align: center;
  }

  .hero h1 {
    margin-bottom: 30px;
    font-size: 52px;
  }

  .hero-info .text .button {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-bottom: 30px;
  }

  .hero-info>.button {
     display: block;
     margin: auto;
  }

  .article-card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 400px;
  }
}

@media (width <= 576px) {
  .hero {
    padding-top: 20px;
  }

  .hero-info {
    max-width: 410px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero-choose {
    max-width: 125px;
    padding: 10px;
    font-size: 14px;
  }
}


}

