html * {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    color: #2c332f;
}

body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}

.article {
    padding-top: 120px;
    margin-bottom: 120px;
}

.article-title {
    max-width: 596px;
    font-weight: 600;
    font-family: Oswald;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}

.article-title-large {
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.article-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    margin-bottom: 20px;
}

.article-mb {
    margin-bottom: 80px;
}

.gym-img, .article-video {
    width: 100%;
}

.article-list {
    margin-top: 0;
    padding-left: 16px;
}

.article-item {
    margin-bottom: 12px;
}

.article-item::marker {
    color: #3596ed;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../images/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-video {
    margin-bottom: 40px;
    z-index: 0;
}

.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -105%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

