body {
    font-family: sans-serif;
    font-size: 16px;
    
}

label, input, textarea {
    display: block;
    border-radius: 4px;
    border-color: hsla(0, 0%, 45%, 0.8);
}

legend {
    display: contents;
}

label {
    display: block;
    margin: 10px;
}

input {
    display: block;
    margin-top: 4px;
    padding: 4px;
    min-width: 240px;
}

.form-title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    border-bottom: 2px solid black;
    text-align: center;
}

.form {
    background-color: rgb(228, 228, 228);
    max-width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 0;
    margin: 20px;
}

.fieldset {
    display: block;
    border: none;

}

.checkbox {
    min-width: 0px;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    vertical-align: middle;
}
.checkbox:checked {
    accent-color: black;
}

.label-checkbox {
   display: inline-block;
   vertical-align: middle;
}

.textarea {
    max-width: 240px;
    width: fit-content;
    max-height: 260px;
    height: fit-content;
    padding: 5px;

}

.button {
    background-color: rgb(160, 160, 160);
    cursor: pointer;
    margin: 10px;
    border-width: 2px;
    border-radius: 4px;
    border-color: hsla(0, 0%, 0%, 0);
    padding: 5px 15px;
    font-size: 14px;
    letter-spacing: 1px;
}

.button:hover {
    background-color: rgb(228, 228, 228);
    border-width: 2px;
    border-color: black;
}

.button:active {
    background-color: rgb(0, 0, 0);
    color: aliceblue;

}