* {
    font: 20px sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: none;
    margin: 20px;
}

.month {
    font-weight: 800;
}

th {
    font-weight: 600;
    border: 2px solid #000;
    padding: 5px;
}

td {
    border: 2px solid #000;
    padding: 5px;
}
.red-day {
    color: red;
}