.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 32px;
    background: var(--bg-color);
    transition: box-shadow var(--transition-time);
    z-index: var(--layer-2);
}

.header--fixed {
    box-shadow: 0 0 20px 0 var(--shadow-color);
    overflow-y: hidden;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(width > 768px) {
    .header__menu {
        flex-grow: 1;
    }
}

@media(width <= 768px) {
    .header__menu {
       position: fixed;
       top: 0;
       right: -100vw;
       bottom: 0;
       background-color: var(--bg-color);
       box-shadow: 0 0 20px 0 var(--shadow-color);
       min-width: 297px;
       z-index: var(--layer-1);
       opacity: 0;
       visibility: hidden;
       transition: right var(--transition-time), opacity var(--transition-time),
       visibility var(--transition-time);
    }
}

.header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.header__logo {
    /* min-width: 992px  max-width: 1440px */
    margin-right: clamp(25px, -10.58rem + 20.09vw, 120px);
}

.header__controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(width >= 992px) {
    .header__controls {
        gap: 60px;
    }
}

@media(width < 992px) {
    .header__controls {
        /* min-width: 768px  max-width: 992px */
        gap: clamp(20px, -7.321rem + 17.86vw, 60px);
    }
}

@media(width <= 768px) {
    .header__controls {
        gap: 30px;
    }
}

.header__order {
    position: relative;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
}

.header__order::before {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent-color);
    min-height: 11px;
    border-radius: 100%;
    fill: var(--accent-color);
    filter: blur(30px);
    opacity: 0;
    visibility: 0;
    transition: opacity var(--transition-time), visibility var(--transition-time);
}

@media(any-hover: hover) {
    .header__order:hover::before {
        opacity: 1;
        visibility: 1;
    }
}

.header__actions {
    display: flex;
}

@media (width <= 768px) , (width >= 992px ) {
    .header__actions {
        gap: 30px;
    }
}

@media (width > 768px) and (width < 992px) {
    .header__actions {
        /* min-width: 768px  max-width: 992px */
        gap: clamp(20px, -0.893rem + 4.46vw, 30px);
    }
}

.header__actions-button {
    color: var(--main-color);
    transition: var(--transition-time);
    height: 24px;

}

@media(any-hover: hover) {
    .header__actions-button:hover {
        color: var(--accent-color);
    }
}

.header__actions-button:active {
    color: var(--accent-color);
}

.header__actions-icon {
    stroke: currentColor;
}

