.menu__list {
    display: flex; 
}

@media(width >= 992px) {
    .menu__list {
    gap: 30px;
    }
}

@media(width <= 768px) {
    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: end;
        align-content: flex-end;
        margin-top: 144px;
        padding-right: 15px;
    }
}

@media(width < 992px) {
    .menu__list {
        /* min-width: 768px  max-width: 992px */
        gap: clamp(15px, -2.277rem + 6.7vw, 30px);
    }
}

.menu__link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    line-height: 130%;
    color: var(--main-color);
    transition: var(--transition-time);
}

@media(width <= 768px) {
    .menu__link:active {
        color: var(--accent-color);
    }
}

@media(any-hover: hover) {
    .menu__link:hover {
        color: var(--accent-color);
    }
}