@media(width > 768px) {
    .burger {
        display: none;
    }
}

@media(width <= 768px) {
    .burger {
        position: relative;
        width: 24px;
        height: 24px;
        z-index: var(--layer-1);
    }
}

.burger--open .burger__icon-cross{
    display: block;
}

.burger__icon-cross,
.burger--open .burger__icon-menu {
    display: none;
}

