html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.article {
    margin-top: 80px;
    margin-bottom: 120px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article-title {
    max-width: 596px;
    font-weight: 600;
    font-family: Oswald;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}

.article-title-large {
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.article-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    margin-bottom: 20px;
}

.article-mb {
    margin-bottom: 80px;
}

.gym-img, .article-video {
    width: 100%;
}

.article-list {
    margin-top: 0;
    padding-left: 16px;
}

.article-item {
    margin-bottom: 12px;
}

.article-item::marker {
    color: blue;
}

.article-video {
    margin-bottom: 40px;
}

