.page {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--main-color);
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.page__body {
    min-width: 375px;
    background-color: var(--bg-color);
}

.page__body--no-scroll {
    overflow-y: hidden;
}
.container {
    width: min(var(--container-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}

a:focus-visible,
button:focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
    border-radius: 2px;
}

.title-m{
    font-weight: 600;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--main-color);
}

.title-mb {
    margin-bottom: 40px;
}

.text-light,
.text-medium,
.text-reg {
    font-family: var(--font-family);
    line-height: 140%;
    color: var(--main-color);
}

.text-reg {
    font-weight: 400;
    font-size: 16px;
}

.text-medium {
    font-weight: 300;
    font-size: 16px;
}

.text-light {
    font-weight: 300;
    font-size: 13px;
}

.title-sm,
.title-md {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
}

.title-md {
  /* min-width 375px, max-width 992px */
  font-size: clamp(32px, 0.936rem + 4.54vw, 60px);
}

.title-sm {
  /* min-width 375px, max-width 768px */
  font-size: clamp(24px, 1.023rem + 2.04vw, 32px);
}

@media (width > 576px) {
  .section {
    padding-bottom: 140px;
  }

  .section__title {
    margin-bottom: 40px;
  }
}

@media (width <= 576px) {
  .section {
    padding-bottom: 80px;
  }

  .section__title {
    margin-bottom: 30px;
  }
}


