html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.header-container {
    max-width: 1320px;
    flex-wrap: wrap;
    padding: 15px 15px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid rgb(104, 99, 107);
}

.header-item, .header-item-phone, .header-list{
    display: flex;
    flex-direction: row;
    min-width: 15%;
    min-height: 36px;
    white-space: nowrap;
    align-items: center;
}

.header-list {
    min-width: 20%;
    flex-wrap: wrap;
    justify-content: center;
}

.header-icon {
    width: 36px;
    height: 36px;
    background-color: black;
    margin: 0 ;
}
.header-link, .header-phone {
    color: rgb(53, 52, 56);
}

.list-item {
    margin: 0 5px;

}

.header-item-phone {
    justify-content: end;
}

.header-phone {
    text-decoration: none;
}

